.navbar .nav-item .dropdown-menu{display: none;}
.navbar .nav-item:hover .dropdown-menu{display: block;}


.my-caption
{
    height: 200px;
    top: 130px;
    background: rgba(0,0,0,0.5);
}

@media screen and (max-width:600px)
{
    .my-caption
    {
        height: 200px;
        top: 15px;
        background: rgba(0,0,0,0.5);
    }
}
